body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

img {
    width: 30%;
    /* margin: 1.6666666%; */
    margin: calc(10%/6);
}

.gallery {
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}

nav {
    background-color: #333;
    color: rgb(210, 231, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links li a {
    color: rgb(12, 150, 242);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff9900;
}

span {
    margin: 20px;
}