body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: rgb(210, 231, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links li a {
    color: rgb(12, 150, 242);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff9900;
}

/* Schedule Styles */
.upcoming-camps {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 20px;
    text-align: center;
}

.schedule-container {
    max-width: 800px;
    margin: 0 auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #333;
    color: #fff;
}

tr:hover {
    background-color: #f7f7f7;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}

.content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 1.8rem;
    color: #333;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

span {
    margin: 20px;
}